* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/* ================================= PAGINA HOME ================================= */

.nav {
	grid-area: nav;
}

.slide {
	grid-area: slide;
}

.general {
	grid-area: general;
}

.indicators {
	grid-area: indicators;
}
.advantage {
	grid-area: advantage;
}

.buy {
	grid-area: buy;
}

.footer {
	grid-area: footer;
}

.container {
	display: grid;
	grid-template: "nav" 80px "slide" auto "general" auto "indicators" auto "advantage" auto "buy" auto "footer" auto;
}

/* <!-- ====================== navbar =========================== --> */

.nav {
	position: fixed;
	width: 100%;
	z-index: 10000;
	top: 0;
	height: 80px;
	background: #0082e6;
	box-shadow: 0px 0px 20px rgb(0, 0, 0, .15);
}

.nav .cont {
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
}

.nav .logo {
	position: absolute;
	width: 200px;
}

.nav .logo img {
	margin-top: 17px;
	width: 200px;
	cursor: pointer;
}


.check-lang-mobil{
display: none;
}






nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	padding: 7px 13px;
	border-radius: 3px;
}

nav ul li label {
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	padding: 7px 5px ;
	border-radius: 3px;
	cursor: pointer;
}

nav ul li label img{
	position:relative;
	top:5px;
	right: 5px;
	width: 20px;
}


nav ul li a.active,
nav ul li a:hover {
	background: #30a5ff;
	transition: 0.5s;
}

nav ul li label.active,
nav ul li label:hover {
	transition: 0.5s;
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

/* <!-- ========= slide ========== --> */

.slide {
	background: #0082e6;
}

#btn-lang {
	display: none;
}

/* .cont-lang{
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
}

.check-lang{
	width: 30px;
	height: 30px;
	position: absolute;
	left: 5px;
	top: 5px;
}

.check-lang img{
	width: 100%;
	opacity: 0.5;
} */

.slide-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
	height: 100%;
}

.slide-cont .img-cont {
	width: 60%;
	height: auto;
	display: flex;
	align-items: center;
}

.slide-cont .img-cont .imagen {
	width: 100%;
	height: 100%;
	object-fit: contain;
	/* transform: scaleX(-1); */
}

.slide-cont .text-cont {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slide-cont .text-cont h1 {
	color: rgb(255, 255, 255);
	font-size: 44px;
	padding: 0 50px;
	margin-bottom: 20px;
}

.slide-cont .text-cont p {
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 1.5em;
	padding: 0 50px;
	margin-bottom: 20px;
	overflow-wrap: break-word;
}

.slide-cont .text-cont a {
	display: block;
	font-size: 20px;
	font-weight: 600px;
	color: #0082e6;
	background: rgb(255, 255, 255);
	padding: 20px 50px;
	margin: 0 auto;
	margin-left: 50px;
	border-radius: 7px;
	white-space: nowrap;
}

.slide-cont .text-cont a:hover {
	animation: pulse 1s infinite;
	transition: .3s;
	box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}

/* <!-- ======== general ======================================== --> */

.general {
	background: #f8f8f8;
	padding: 50px 0;
}

.general .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
}

.general .container .titulop {
	color: rgb(0, 91, 151);
	font-size: 44px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.general .container .subtitle {
	color: rgb(65, 71, 77);
	font-size: 16px;
	margin-bottom: 60px;
	overflow-wrap: break-word;
}

.general .card {
	width: 80%;
	height: 100%;
	border-radius: 10px;
	background: rgb(245, 245, 245);
	box-shadow: 0px 0px 30px rgb(0, 0, 0, .2);
	/* margin: 100px 0; */
}

.general .container .titulo-img {
	color: rgb(65, 71, 77);
	font-size: 32px;
	text-align: center;
	line-height: 1.5em;
	font-weight: 700px;
	margin-top: 80px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.general .card-video {
	width: 80%;
	height: 100%;
	border-radius: 10px;
	background: rgb(245, 245, 245);
	box-shadow: 0px 0px 30px rgb(0, 0, 0, .2);
	margin-bottom: 50px;
}

.general .card-video video {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	box-shadow: 0px 0px 30px rgb(0, 0, 0, .2);
}


.general .card-img {
	width: 80%;
	margin-bottom: 50px;
	border-radius: 15px;
	box-shadow: 0px 0px 30px rgb(0, 0, 0, .2);
}

.general .card-img img {
	width: 100%;
	height: 100%;
	background-size: cover;
	border-radius: 15px;
}

.general .card iframe {
	display: block;
	width: 100%;
	height: calc(0.5625*80vw);
	max-height: 750px;
	border-radius: 10px;
}

/* <!-- ======== indicators ====== --> */

.indicators {
	background: #ffffff;
	padding: 50px 0;
}

.indicators .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
	height: 100%;
}

.indicators .container .container-title {
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgb(0, 91, 151);

	font-size: 44px;
}

.indicators .container .subtitle {
	color: rgb(65, 71, 77);
	font-size: 16px;
	margin-bottom: 60px;
	overflow-wrap: break-word;
}

.indicators .container .bton-ind {
	width: 90%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/* margin-bottom: 30px; */
}

.indicators .container .bton-ind button {
	/* margin: 10px 0; */
	border: none;
	background: none;
	margin-bottom: 20px;
}

.indicators .container .bton-ind .btn-i {
	display: block;
	font-size: 18px;
	font-weight: bolder;
	background: #ffffff;
	color: #0082e6;
	padding: 15px 20px;
	border-radius: 5px;
	white-space: nowrap;
	width: 100%;
	border: 1px solid #0082e6;
	font-family: 'Roboto', sans-serif;
}

.indicators .container .bton-ind .btn-i.active,
.indicators .container .bton-ind .btn-i:hover {
	background: #0082e6;
	color: white;
}

.indicators .container .card {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 450px;
	height: 100%;
	/* margin-bottom: 30px; */
	background: rgb(255, 255, 255);
	box-shadow: 0px 0px 30px rgb(0, 0, 0, .1);
	border-radius: 15px;
	margin-top: 28px;
}

.indicators .container .card .image {
	width: 50%;
	height: 100%;
	background-position: bottom right;
	background-size: cover;
	border-radius: 15px 0 0 15px;
}

.indicators .container .card .body {
	width: 50%;
	height: 100%;
}






/* common */
.ribbon {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	z-index: 1;

  }
  .ribbon::before,
  .ribbon::after {
	position: absolute;
	z-index: -1;
	content: '';
	display: block;
	border: 5px solid  #006ec2;
  }
  .ribbon span {
	position: absolute;
	display: block;
	width: 225px;
	padding: 12px 0;
	background-color:  #0082e6;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
	color: #fff;
	font: 700 12px/1 'Lato', sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	text-transform: uppercase;
	text-align: center;
  }
  
  /* top left*/
  .ribbon-top-left {
	top: -10px;
	left: -10px;
  }
  
  .ribbon-top-left::before {
	top: 0;
	right: 0;
  }
  .ribbon-top-left::after {
	bottom: 0;
	left: 0;
  }
  .ribbon-top-left span {
	right: -25px;
	top: 30px;
	transform: rotate(-45deg);
  }
  







.indicators .container .card .body .body-title {
	color: rgb(65, 71, 77);

	font-size: 32px;
	text-align: center;
	line-height: 1.5em;
	/* text-justify: inter-word; */
	margin: 35px 0;
	font-weight: 700px;
}

.indicators .container .card .body .body-title-1 {
	color: rgb(65, 71, 77);

	font-size: 16px;
	text-align: left;
	line-height: 1.5em;
	/* text-justify: inter-word; */
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: bold;
	padding: 0 50px;
}

.indicators .container .card .body p {
	color: rgb(65, 71, 77);
	font-size: 16px;
	line-height: 1.5em;
	padding: 0 50px;
	margin-bottom: 20px;
	overflow-wrap: break-word;
}

.indicators .container .card .body button {
	border: none;
	background: none;
	padding: 0 50px;
}

.indicators .container .card .body .btn {
	display: block;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
	background: #0082e6;
	color: #ffffff;
	padding: 15px 50px;
	border-radius: 5px;
	white-space: nowrap;
	width: 100%;
	border: 1px solid #0082e6;
	margin-bottom: 30px;
	font-family: 'Roboto', sans-serif;
}

.indicators .container .card .body .btn:hover {
	animation: pulse 1s infinite;
	transition: .3s;
	box-shadow: 0px 0px 15px rgb(0, 130, 230, .3);
}

/* <!-- ======== advantage ======= --> */

.advantage {
	background: #f8f8f8;
	padding: 50px 0;
}

.advantage .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
	height: 100%;
}

.advantage .container .cont-title {
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgb(0, 91, 151);

	font-size: 44px;
}

.advantage .container .subtitle {
	color: rgb(65, 71, 77);
	font-size: 16px;
	margin-bottom: 60px;
	overflow-wrap: break-word;
}

.advantage .container .cards-cont {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.advantage .container .card {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 30%;
	height: 100%;
	border-radius: 15px;
	border: 2px solid rgb(209, 209, 209);
}

.advantage .container .card .icon {
	display: block;
	font-size: 100px;
	color: rgb(65, 71, 77);

	margin-top: 35px;
	margin-bottom: 20px;
}

.advantage .container .card .tittle {
	font-size: 32px;
	margin-bottom: 20px;
	padding: 0 50px;
	color: rgb(0, 91, 151);
	text-align: center;
}

.advantage .container .card .text {
	color: rgb(65, 71, 77);
	font-size: 16px;
	line-height: 1.5em;
	padding: 0 50px;
	margin-bottom: 35px;
	overflow-wrap: break-word;
}

.advantage .container .card:hover {
	box-shadow: 0px 0px 30px rgb(0, 0, 0, .2);
	border: 1px solid rgba(110, 110, 110, 0);
	background: rgb(255, 255, 255);
	transition: .3s;
}

/* <!-- ======== buy ============= --> */

.buy {
	background: #ffffff;
	padding: 50px 0;
}

.buy .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
	height: 100%;
}

.buy .container .cont-title {
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgb(0, 91, 151);

	font-size: 44px;
	text-align: center;
}

.buy .container .btn {
	display: inline-block;
	left: 0;
	font-size: 16px;
	background: #0082e6;
	color: white;
	padding: 20px 0;
	text-align: center;
	border-radius: 7px;
	white-space: nowrap;
	width: 250px;
	margin-bottom: 20px;
}

.buy .container .btn:hover {
	animation: pulse 1s infinite;
	transition: .3s;
	box-shadow: 0px 0px 15px rgba(0, 130, 230, 0.2);
}

.buy .container .text {
	margin-bottom: 60px;
	color: rgb(65, 71, 77);

	font-size: 16px;
}

.buy .container a {
	margin: 35px 0;
}

/* <!-- ===== footer ======== --> */
/* 
.footer {
	background: rgb(31, 31, 31);
}


.footer #button-up{
	background: #0082e642;
	color: #ffffff;
	width: 60px;
	height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
	border-radius: 50%;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
	background: #0082e6;
}


.footer .footer-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

.footer .footer-cont .cont-foot1 {
	height: 100%;
}

.footer .footer-cont .cont-foot1 .text {
	font-size: 14px;
	color: rgb(236, 236, 236);
	padding: 40px 40px;
	text-align: justify;
}

.footer .footer-cont .cont-foot2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

.footer .footer-cont .cont-foot2 .text {
	color: rgb(236, 236, 236);
	margin-top: 30px;
	font-size: 16px;
}

.footer .footer-cont .cont-foot2 .text2 {
	color: rgb(236, 236, 236);
	margin-top: 5px;
	margin-bottom: 15px;
	font-weight: lighter;

	font-size: 16px;
}

.footer .footer-cont .cont-foot2 .linea {
	width: 45px;
	margin-bottom: 15px;
}

.footer .footer-cont .cont-foot2 .iconos {
	color: rgb(236, 236, 236);
	margin-bottom: 30px;
}

.footer .footer-cont .cont-foot2 a {
	color: rgb(236, 236, 236);
}


.footer .footer-cont .cont-foot2 .iconos .ico {
	font-size: 30px;
	margin: 0 20px;
}

.footer .footer-cont .cont-foot2 .copy {
	color: rgb(236, 236, 236);
	font-size: 14px;
	margin-bottom: 10px;
} */

/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ==================================== breakpoints ========================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */

/* small 0 - 768 */
@media (max-width: 767px) {
	/* <!-- ========= navbar ========= --> */
	.nav .cont {
		width: 95%;
	}

	#check:checked ~ ul {
		left: 0px;
	}

	.checkbtn {
		display: block;
		margin: auto;
	}

	.nav .logo {
		position: absolute;
		width: 150px;
	}

	.nav .logo img {
		margin-top: 25px;
		width: 150px;
		cursor: pointer;
	}

	.check-lang-mobil{
		display:block;
		position:relative;
		cursor: pointer;
		}

		
	.check-lang-mobil img{
		position:absolute;
		top: 26px;
		right: 40px;
		width: 30px;
	}

		
	nav ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
	}

	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a {
		font-size: 20px;
	}

	nav ul li label {
		display: none;
		font-size: 16px;
		opacity: 1;
	}

	nav ul li a.active,
	nav ul li a:hover {
		background: none;
	}

	nav ul li label.active,
	nav ul li label:hover {
		background: none;
	}

	/* <!-- ========= slide ========== --> */

	.slide-cont {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		max-width: 768px;
		width: 95%;
	}

	.slide-cont .img-cont {
		width: 100%;
	}

	.check-lang {
		width: 30px;
		height: 30px;
		left: -7px;
		top: -7px;
	}

	.slide-cont .img-cont .imagen {
		padding: 20px;
	}

	.slide-cont .text-cont {
		width: 100%;
	}

	.slide-cont .text-cont h1 {
		font-size: 32px;
		padding: 0 10px;
		margin-top: 35px;
		text-align: center;
	}

	.slide-cont .text-cont p {
		padding: 0 10px;
		text-align: center;
	}

	.slide-cont .text-cont a {
		font-size: 16px;
		font-weight: 600px;
		padding: 10px 50px;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	/* <!-- ======== general ========= --> */

	.general {
		padding: 20px 0;
	}

	.general .container {
		width: 95%;
		height: 100%;
	}

	.general .container .titulop {
		font-size: 32px;
		margin-top: 35px;
	}

	.general .container .subtitle {
		margin-bottom: 30px;
		width: 90%;
		overflow-wrap: break-word;
	}

	.general .card {
		width: 95%;
		margin-bottom: 10px;
		box-shadow: 0px 0px 30px rgb(0, 0, 0, .2);
	}

	.general .card-img {
		width: 95%;
		margin-top: 10px;
	}

	.general .card-video {
		width: 95%;
		height: 100%;
		border-radius: 10px;
		background: rgb(245, 245, 245);
		box-shadow: 0px 0px 30px rgb(0, 0, 0, .2);
		margin-bottom: 30px;
	}
	
	.general .card-video video {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		box-shadow: 0px 0px 30px rgb(0, 0, 0, .2);
	}


	.general .container .titulo-img {
		min-width: 300px;
		text-align: center;
		font-size: 24px;
		margin-top: 40px;
		margin-bottom: 20px;
	}

	/* <!-- ======== indicators ====== --> */

	.indicators {
		padding: 20px 0;
	}

	.indicators .container {
		width: 95%;
	}

	.indicators .container .container-title {
		font-size: 32px;
	}

	.indicators .container .subtitle {
		text-align: justify;
		margin-bottom: 30px;
		width: 90%;
	}

	.indicators .container .bton-ind .btn-i {
		font-size: 16px;
		padding: 10px 0;
		min-width: 280px;
	}

	.indicators .container .card {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-width: 300px;
		width: 90%;
		border-radius: 15px 15px 0 0;
	}

	.indicators .container .card .image {
		width: 100%;
		min-height: 300px;
		height: 50%;
		background-position: bottom right;
		background-size: cover;
		border-radius: 15px 15px 0 0;
		/* margin-top: 20px; */
	}

	.indicators .container .bton-ind {
		display: flex;
		flex-direction: column;
	}

	.indicators .container .bton-ind button {
		margin: 2px 0;
	}

	.indicators .container .bton-ind .btn {
		width: auto;
		padding: 10px 0;
	}

	.indicators .container .card .body {
		width: 90%;
	}

	.indicators .container .card .body .btn {
		padding: 10px 50px;
	}

	.indicators .container .card .body .body-title {
		font-size: 24px;
		text-align: center;
		margin: 20px 0;
	}

	.indicators .container .card .body .body-title-1 {
		padding: 0 0px;
	}

	.indicators .container .card .body p {
		padding: 0 0px;
	}

	/* <!-- ======== advantage ======= --> */
	.advantage {
		padding: 20px 0;
	}

	.advantage .container .cont-title {
		margin-top: 10px;
		font-size: 32px;
	}

	.advantage .container .subtitle {
		text-align: justify;
	}

	.advantage .container .cards-cont {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.advantage .container .card {
		width: 90%;
		margin-bottom: 20px;
		background: #ffffff;
		border: 1px solid rgb(209, 209, 209);
		box-shadow: 0px 0px 40px rgb(0, 0, 0, .2);
	}

	.advantage .container .card .icon {
		margin-top: 15px;
	}

	.advantage .container .card .tittle {
		font-size: 24px;
		text-align: center;
		padding: 0 10px;
	}

	.advantage .container .card .text {
		padding: 0 20px;
	}

	/* <!-- ========== buy ====== --> */

	.buy {
		padding: 10px 0;
	}

	.buy .container .cont-title {
		margin-top: 10px;
		text-align: center;
		font-size: 24px;
	}

	.buy .container .text {
		text-align: center;
	}

	.buy .container .logo-ninja {
		width: 300px;
	}

	/* <!-- ===== footer ============ --> */

	/* .footer {
		background: rgb(31, 31, 31);
	}


	.footer #button-up{
		width: 40px;
		height: 40px;
		bottom: 10px;
	}



	.footer .footer-cont {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		height: 100%;
	}

	.footer .footer-cont .cont-foot1 {
		height: 100%;
	}



	.footer .footer-cont .cont-foot2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		height: 100%;
	}

	.footer .footer-cont .cont-foot2 .text {
		color: rgb(236, 236, 236);
		margin-top: 30px;
		font-size: 16px;
	}

	.footer .footer-cont .cont-foot2 .text2 {
		color: rgb(236, 236, 236);
		margin-top: 5px;
		margin-bottom: 15px;
		font-weight: lighter;

		font-size: 16px;
	}

	.footer .footer-cont .cont-foot2 .linea {
		width: 45px;
		margin-bottom: 15px;
	}

	.footer .footer-cont .cont-foot2 .iconos {
		color: rgb(236, 236, 236);
		margin-bottom: 30px;
	}

	.footer .footer-cont .cont-foot2 .iconos .ico {
		font-size: 30px;
		margin: 0 20px;
	}

	.footer .footer-cont .cont-foot2 .copy {
		color: rgb(236, 236, 236);
		font-size: 14px;
		margin-bottom: 10px;
	} */
}

/* Medium 768 - 1200  ========= ========= ========= ========= ========= =========  ========= =========*/
@media only screen and (min-width: 767px) and (max-width: 1200px) {
	/* <!-- ========= navbar ========= --> */

	.nav {
		position: fixed;
		width: 100%;
		z-index: 10000;
		top: 0;
		height: 80px;
		background: #0082e6;
		box-shadow: 0px 0px 20px rgb(0, 0, 0, .15);
	}

	.nav .cont {
		max-width: 1440px;
		width: 90%;
		margin: 0 auto;
	}

	.nav .logo {
		position: absolute;
		width: 150px;
	}

	.nav .logo img {
		margin-top: 25px;
		width: 150px;
		cursor: pointer;
	}

	nav ul {
		float: right;
		margin-right: 20px;
	}

	nav ul li {
		display: inline-block;
		line-height: 80px;
		margin: 0 3px;
	}

	nav ul li a {
		font-size: 15px;
		padding: 7px 10px;
	}

	nav ul li label {
		font-size: 14px;
		padding: 7px 10px;
	}

	nav ul li a.active,
	nav ul li a:hover {
		background: #30a5ff;
		transition: 0.5s;
	}

	.checkbtn {
		font-size: 30px;
		color: white;
		float: right;
		line-height: 80px;
		margin-right: 40px;
		cursor: pointer;
		display: none;
	}

	#check {
		display: none;
	}

	.nav .cont {
		width: 100%;
	}

	.logo {
		margin-left: 10px;
	}

	nav ul {
		margin-right: 10px;
	}

	nav ul li a {
		padding: 7px 5px;
	}

	/* <!-- ========= slide ========== --> */

	.slide-cont {
		width: 95%;
	}

	.cont-lang {
		width: 98%;
	}

	.slide-cont .img-cont {
		width: 50%;
	}

	.slide-cont .img-cont .imagen {
		margin: 30px auto;
	}

	.slide-cont .text-cont {
		width: 50%;
		padding: 0 20px;
	}

	.slide-cont .text-cont h1 {
		font-size: 32px;
		padding: 0 0;
	}

	.slide-cont .text-cont p {
		padding: 0 0px;
	}
	.slide-cont .text-cont a {
		font-size: 16px;
		padding: 15px 45px;
		margin-left: 0px;
		border-radius: 4px;
	}

	/* <!-- ======== general =========================== --> */

	.general .container {
		width: 95%;
	}

	.general .container .titulop {
		font-size: 32px;
	}

	.general .container .titulo-img {
		font-size: 24px;
		margin-top: 80px;
		margin-bottom: 40px;
	}

	/* <!-- ======== indicators ========================================= --> */

	.indicators .container {
		width: 95%;
	}

	.indicators .container .container-title {
		font-size: 32px;
	}
	.indicators .container .bton-ind .btn-i {
		font-size: 16px;
		padding: 15px 15px;
	}

	.indicators .container .card {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 850px;
	}

	.indicators .container .card .image {
		width: 100%;
		background-position: bottom right;
		border-radius: 15px 15px 0 0;
	}

	.indicators .container .card .body {
		width: 100%;
		height: 50%;
	}

	.indicators .container .card .body .body-title {
		font-size: 24px;
		margin: 20px 0;
	}

	.indicators .container .card .body .body-title-1 {
		margin-top: 10px;
		padding: 0 35px;
	}

	.indicators .container .card .body p {
		padding: 0 35px;
	}

	.indicators .container .card .body button {
		padding: 0 35px;
	}

	/* <!-- ======== advantage ======= --> */

	.advantage .container {
		width: 95%;
	}

	.advantage .container .cont-title {
		margin-bottom: 10px;
		font-size: 32px;
	}

	.advantage .container .subtitle {
		margin-bottom: 20px;
	}

	.advantage .container .card {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		width: 30%;
		height: 100%;
		border-radius: 15px;
		background: rgb(255, 255, 255);
		border: 1px solid rgb(238, 238, 238);
		box-shadow: 0px 0px 20px rgba(47, 44, 44, 0.1);
	}

	.advantage .container .card .tittle {
		font-size: 24px;
	}

	.advantage .container .card .text {
		padding: 0 15px;
	}

	/* <!-- ======== buy ============= --> */

	.buy .container {
		width: 95%;
	}

	.buy .container .cont-title {
		margin-bottom: 35px;

		font-size: 32px;
		text-align: center;
	}

	.buy .container .btn {
		font-size: 16px;
		font-weight: bold;

		margin-bottom: 10px;
	}

	.buy .container .text {
		margin-bottom: 20px;
	}

	/* <!-- ======== footer ===== --> */

	/* .footer {
		background: rgb(31, 31, 31);
	}



	.footer #button-up{
		width: 50px;
		height: 50px;
		bottom: 10px;
	}



	.footer .footer-cont {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		height: 100%;
	}

	.footer .footer-cont .cont-foot1 {
		height: 100%;
	}



	.footer .footer-cont .cont-foot2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		height: 100%;
	}

	.footer .footer-cont .cont-foot2 .text {
		color: rgb(236, 236, 236);
		margin-top: 30px;
		font-size: 16px;
	}

	.footer .footer-cont .cont-foot2 .text2 {
		color: rgb(236, 236, 236);
		margin-top: 5px;
		margin-bottom: 15px;
		font-weight: lighter;

		font-size: 16px;
	}

	.footer .footer-cont .cont-foot2 .linea {
		width: 45px;
		margin-bottom: 15px;
	}

	.footer .footer-cont .cont-foot2 .iconos {
		color: rgb(236, 236, 236);
		margin-bottom: 30px;
	}

	.footer .footer-cont .cont-foot2 .iconos .ico {
		font-size: 30px;
		margin: 0 20px;
	}

	.footer .footer-cont .cont-foot2 .copy {
		color: rgb(236, 236, 236);
		font-size: 14px;
		margin-bottom: 10px;
	}

	.footer .footer-cont {
		width: 95%;
	}

	.footer .footer-cont .cont-foot2 .iconos .ico {
		margin: 0 5px;
	} */
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	75% {
		transform: scale(.9);
	}
	100% {
		transform: scale(1);
	}
}
