* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/* ================================= PAGINA HOME ================================= */

.nav {
	grid-area: nav;
}

.general {
	grid-area: general;
}

.footer {
	grid-area: footer;
}

.container {
	display: grid;
	grid-template: "nav" 80px "general" auto "footer" auto;
}

/* <!-- ====================== navbar =========================== --> */

.nav {
	position: fixed;
	width: 100%;
	z-index: 10000;
	top: 0;
	height: 80px;
	background: #0082e6;
	box-shadow: 0px 0px 20px rgb(0, 0, 0, .15);
}

.nav .cont {
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
}

.nav .logo {
	position: absolute;
	width: 200px;
}

.nav .logo img {
	margin-top: 17px;
	width: 200px;
	cursor: pointer;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	padding: 7px 13px;
	border-radius: 3px;
}

nav ul li a.active,
nav ul li a:hover {
	background: #30a5ff;
	transition: 0.5s;
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

/* <!-- ====================== general =========================== --> */

.general {
	background: #f8f8f8;
	height: 100%;
}

.general .sucess {
	text-align: center;
	margin-top: 30px;
	width: 100%;
}

.general .sucess .sucess-element {
	display: inline-block;
	color: rgb(255, 255, 255);
	background: rgb(0, 200, 80);
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgb(0, 200, 80, .4);
	width: 60%;
	max-width: 1440px;
}

.general .error {
	text-align: center;
	margin-top: 30px;
}

.general .error .error-element {
	display: inline-block;
	color: rgb(255, 255, 255);
	background: rgb(255, 45, 66);
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgb(255, 45, 66, .4);
	width: 60%;
	max-width: 1440px;
}

.general .contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(255, 255, 255);
	width: 60%;
	max-width: 1440px;
	margin: 30px auto;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0px 0px 30px rgb(0, 0, 0, .1);
}

.general .contact-form h1 {
	font-size: 44px;
	margin-top: 20px;
	margin-bottom: 30px;
	color: rgb(0, 91, 151);
}

.general .contact-form .txtb {
	display: block;
	margin: 4px 0;
	padding: 12px 18px;
	width: 90%;
	border-radius: 4px;
}

.general .contact-form .txtb label {
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
	color: rgb(65, 71, 77);
}

.general .contact-form .txtb h2 {
	font-size: 16px;
	font-weight: 400;
	text-align: justify;
	line-height: 1.5em;
	margin-bottom: 5px;
	color: rgb(65, 71, 77);
}

.general .contact-form .txtb h2 span {
	color: rgb(0, 128, 255);
}

.general .contact-form .txtb input {
	display: block;
	width: 100%;
	text-align: left;
	padding: 10px;
	border: none;
	background: rgb(255, 255, 255);
	border-radius: 4px;

	outline: none;
	font-size: 16px;
	margin-top: 6px;
	resize: vertical;
	color: rgb(149, 155, 161);

	border: 2px solid rgba(233, 233, 233, 0.459);
}

.general .contact-form .txtb input:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.general .contact-form .txtb input:focus {
	border: 2px solid #0082e63f;
}

.general .contact-form .txtb textarea {
	display: block;
	width: 100%;
	min-height: 150px;
	text-align: left;
	font-size: 16px;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	border: none;
	border-radius: 4px;

	background: rgb(255, 255, 255);
	outline: none;
	margin-top: 6px;
	resize: vertical;
	color: #414141;
	border: 2px solid rgba(233, 233, 233, 0.459);
}

.general .contact-form .txtb textarea:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.general .contact-form .txtb textarea:focus {
	border: 2px solid #0082e63f;
}

.general .contact-form .cap2:hover {
	/* display: inline-block; */

	display: flex;
	justify-content: start;
	/* align-items: center; */
	/* border: 2px solid #0082e6; */
	/* left: 0; */
	/* background: #0082e6; */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.general .contact-form button {
	display: inline-block;
	background: #0082e6;
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 35px;
	width: 90%;
	border-radius: 7px;
	border: none;
}

/* <!-- ====================== footer =========================== --> */

/* .footer {
	background: rgb(31, 31, 31);
}

.footer .footer-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

.footer .footer-cont .cont-foot1 {
	height: 100%;
}

.footer .footer-cont .cont-foot1 .text {
	font-size: 14px;
	color: rgb(236, 236, 236);
	padding: 40px 40px;
	text-align: justify;
}

.footer .footer-cont .cont-foot2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

.footer .footer-cont .cont-foot2 .text {
	color: rgb(236, 236, 236);
	margin-top: 30px;
	font-size: 16px;
}

.footer .footer-cont .cont-foot2 .text2 {
	color: rgb(236, 236, 236);
	margin-top: 5px;
	margin-bottom: 15px;
	font-weight: lighter;

	font-size: 16px;
}

.footer .footer-cont .cont-foot2 .linea {
	width: 45px;
	margin-bottom: 15px;
}

.footer .footer-cont .cont-foot2 .iconos {
	color: rgb(236, 236, 236);
	margin-bottom: 30px;
}

.footer .footer-cont .cont-foot2 .iconos .ico {
	font-size: 30px;
	margin: 0 20px;
}

.footer .footer-cont .cont-foot2 .copy {
	color: rgb(236, 236, 236);
	font-size: 14px;
	margin-bottom: 10px;
} */

/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ==================================== breakpoints ========================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */
/* <!-- ====================================================================================== --> */

@media (max-width: 767px) {
	/* <!-- ===== navbar ====== --> */

	.nav .cont {
		width: 95%;
	}

	#check:checked ~ ul {
		left: 0;
	}

	.checkbtn {
		display: block;
		margin: auto;
	}

	.nav .logo {
		position: absolute;
		width: 150px;
	}

	.nav .logo img {
		margin-top: 25px;
		width: 150px;
		cursor: pointer;
	}

	nav ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
	}

	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a {
		font-size: 20px;
	}

	nav ul li a.active,
	nav ul li a:hover {
		background: none;
	}

	/* <!-- ===== pack ===== --> */

	.general .contact-form {
		width: 95%;
		max-width: 600px;
	}

	.general .contact-form h1 {
		font-size: 32px;
		margin-bottom: 15px;
	}

	.general .contact-form .txtb {
		padding: 12px 5px;
	}

	/* <!-- ===== footer  ====== --> */

	/* .footer {
		background: rgb(31, 31, 31);
	}

	.footer .footer-cont {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		height: 100%;
	}

	.footer .footer-cont .cont-foot1 {
		height: 100%;
	}


	.footer .footer-cont .cont-foot2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		height: 100%;
	}

	.footer .footer-cont .cont-foot2 .text {
		color: rgb(236, 236, 236);
		margin-top: 30px;
		font-size: 16px;
	}

	.footer .footer-cont .cont-foot2 .text2 {
		color: rgb(236, 236, 236);
		margin-top: 5px;
		margin-bottom: 15px;
		font-weight: lighter;

		font-size: 16px;
	}

	.footer .footer-cont .cont-foot2 .linea {
		width: 45px;
		margin-bottom: 15px;
	}

	.footer .footer-cont .cont-foot2 .iconos {
		color: rgb(236, 236, 236);
		margin-bottom: 30px;
	}

	.footer .footer-cont .cont-foot2 .iconos .ico {
		font-size: 30px;
		margin: 0 20px;
	}

	.footer .footer-cont .cont-foot2 .copy {
		color: rgb(236, 236, 236);
		font-size: 14px;
		margin-bottom: 10px;
	} */
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
	/* <!-- ===== navbar ====== --> */

	.nav {
		position: fixed;
		width: 100%;
		z-index: 10000;
		top: 0;
		height: 80px;
		background: #0082e6;
		box-shadow: 0px 0px 20px rgb(0, 0, 0, .15);
	}

	.nav .cont {
		max-width: 1440px;
		width: 90%;
		margin: 0 auto;
	}

	.nav .logo {
		position: absolute;
		width: 150px;
	}

	.nav .logo img {
		margin-top: 25px;
		width: 150px;
		cursor: pointer;
	}

	nav ul {
		float: right;
		margin-right: 20px;
	}

	nav ul li {
		display: inline-block;
		line-height: 80px;
		margin: 0 5px;
	}

	nav ul li a {
		color: white;
		font-size: 17px;
		text-transform: uppercase;
		padding: 7px 13px;
		border-radius: 3px;
	}

	nav ul li a.active,
	nav ul li a:hover {
		background: #30a5ff;
		transition: 0.5s;
	}

	.checkbtn {
		font-size: 30px;
		color: white;
		float: right;
		line-height: 80px;
		margin-right: 40px;
		cursor: pointer;
		display: none;
	}

	#check {
		display: none;
	}

	.nav .cont {
		width: 100%;
	}

	.logo {
		margin-left: 10px;
	}

	nav ul {
		margin-right: 10px;
	}

	nav ul li a {
		padding: 7px 5px;
	}

	/* <!-- ===== general  ====== --> */

	.general .contact-form {
		width: 75%;
		max-width: 800px;
	}

	/* <!-- ===== footer  ====== --> */

	/* .footer {
		background: rgb(31, 31, 31);
	}

	.footer .footer-cont {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		height: 100%;
	}

	.footer .footer-cont .cont-foot1 {
		height: 100%;
	}


	.footer .footer-cont .cont-foot2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		height: 100%;
	}

	.footer .footer-cont .cont-foot2 .text {
		color: rgb(236, 236, 236);
		margin-top: 30px;
		font-size: 16px;
	}

	.footer .footer-cont .cont-foot2 .text2 {
		color: rgb(236, 236, 236);
		margin-top: 5px;
		margin-bottom: 15px;
		font-weight: lighter;

		font-size: 16px;
	}

	.footer .footer-cont .cont-foot2 .linea {
		width: 45px;
		margin-bottom: 15px;
	}

	.footer .footer-cont .cont-foot2 .iconos {
		color: rgb(236, 236, 236);
		margin-bottom: 30px;
	}

	.footer .footer-cont .cont-foot2 .iconos .ico {
		font-size: 30px;
		margin: 0 20px;
	}

	.footer .footer-cont .cont-foot2 .copy {
		color: rgb(236, 236, 236);
		font-size: 14px;
		margin-bottom: 10px;
	}

	.footer .footer-cont {
		width: 95%;
	}

	.footer .footer-cont .cont-foot2 .iconos .ico {
		margin: 0 5px;
	} */
}
